<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Booking Sync Permission', 'https://www.bookingsync.com/oauth/authorize?client_id=e29d0ae3734eb4ee96b80eec3a3c9ba5c123636de95300c10d401d6c8bbbc0bb&redirect_uri=https%3A%2F%2Flocalhost.ssl%3A3000%2Fauth%2Fbookingsync%2Fcallback&response_type=code&scope=bookings_read%20clients_read%20inquiries_read%20payments_read%20rates_read%20rates_write%20rentals_read', target: :_blank %>

<br>

<%= link_to 'New Product', new_product_path %>
